.app {
	margin: auto;
	background-color: rgb(7, 41, 25);
	width: max-content;
	display: grid;
	grid-template-columns: 120px 120px 120px;
	grid-template-rows: 120px 120px 120px;
}

.header {
	background-color: #2d2731;
	min-height: 100vh;
	font-size: calc(10px + 2vmin);
	margin-top: 50px;
}

.button {
	font-size: 25px;
	top: 50px;
	text-align: right;
	width: 50px;
	margin: auto;
	width: max-content;
	display: grid;
	margin-top: 20px;
	border-radius: 15px;
	box-shadow: 0 5px 0px #676769;
	transition: all 0.2s;
	padding: 15px 20px;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgb(4, 69, 22);
	color: rgb(90, 162, 207);
}

/* background: hsl(181, 59%, 15%);
	font-size: 20px;
	color: rgb(117, 113, 215);
	border-radius: 7px;
	box-shadow: 0 5px 0px #676769;
	transition: all 0.2s;
	padding: 15px 20px;
	cursor: pointer;
	margin: 7px 5px;
	font-family: Arial, Helvetica, sans-serif; */
