.app {
	margin: auto;
	background-color: rgb(7, 41, 25);
	width: max-content;
	display: grid;
	grid-template-columns: 120px 120px 120px;
	grid-template-rows: 120px 120px 120px;
}

.field {
	background: hsl(180, 29%, 19%);
	font-size: 50px;
	color: rgb(210, 205, 178);
	border-radius: 7px;
	transition: all 0.2s;
	padding: 15px 20px;
	cursor: pointer;
	margin: 10px;
	text-align: center;
}
